div{
    padding: 15px;
    color: #ffffff;
    background: #35424a;
    min-height: 75px;

    h1{
        float: left;
        margin-top: 17px;
        margin-left: 95px;
        font-weight: bold;
        
    }

    form{
        float: right;
        margin-top: 15px;
        margin-right: 95px;
    

        input{
            height: 35px;
            width: 250px;
            padding: 2px;
            color: black;

        }

        button{
            height: 43px;
            width: 110px;
            background-color: #a9508b;
        }
        
    }
}

