main{
    width: 80%;
    margin: auto;
    background-color: #f4f4f4;
    min-height: 690px;
    // overflow: hidden;
    
    .first-text{
        color: black;
        width: 65%;
        float: left;
        padding: 15px;
    }

    #second-text{
        background-color: #35424a;
        margin-top: 10px;
        color: white;
    }

    h3{
        margin-top: 40px;
    }

    .last-section{
        width: 26%;
        float: right;
        padding: 20px;
        background-color: #35424a;
        color: white;
        position: relative;
        top: -140px;
        margin-left: 5px;

    }

}